<header class="header">
  <div class="container">
    <div class="logo">
      <a routerLink="/">Nomdelasociété</a>
    </div>

    <button class="burger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="nav-links" [class.open]="menuOpen">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()"
        >Accueil</a
      >
      <a routerLink="/services" routerLinkActive="active" (click)="closeMenu()"
        >Services</a
      >
      <a
        routerLink="/realisations"
        routerLinkActive="active"
        (click)="closeMenu()"
        >Réalisations</a
      >
      <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()"
        >Contact</a
      >
    </nav>
  </div>
</header>
